In [1]:
import pandas as pd
import numpy as np
import os
import typing
import matplotlib.pyplot as plt

import tensorflow as tf
from tensorflow import keras

In [16]:
route_distances = pd.read_csv(
    "PeMSD7_Full/PeMSD7_W_228.csv", header=None
)
speeds_array = pd.read_csv("PeMSD7_Full/PeMSD7_V_228.csv", header=None)

In [17]:
route_distances

,0,1,2,3,4,5,6,7,8,9,...,218,219,220,221,222,223,224,225,226,227
0,0.00,3165.94,8731.54,11903.45,7757.18,19878.51,18436.35,2213.47,5887.74,16132.12,...,18457.20,10725.64,9319.97,8273.62,10913.95,21561.83,10012.42,22614.08,26339.90,10012.42
1,3165.94,0.00,5625.76,8749.35,4695.51,16716.96,15274.00,1037.65,2910.29,12966.19,...,17207.37,10422.11,9441.75,8768.21,10565.72,20115.08,9915.24,21118.47,24716.98,9915.24
2,8731.54,5625.76,0.00,3280.12,1035.65,11465.75,10027.42,6659.59,2905.29,7631.76,...,17666.43,13214.26,12923.52,12756.84,13274.36,19981.55,13057.44,20827.51,23992.78,13057.44
3,11903.45,8749.35,3280.12,0.00,4315.55,8193.10,6759.32,9761.19,6171.81,4355.25,...,17482.07,14598.81,14683.19,14783.92,14610.97,19351.79,14634.38,20075.57,22897.82,14634.38
4,7757.18,4695.51,1035.65,4315.55,0.00,12500.86,11062.04,5733.14,1889.16,8667.35,...,17872.58,12942.92,12517.90,12251.20,13019.49,20308.62,12718.08,21186.77,24440.57,12718.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,21561.83,20115.08,19981.55,19351.79,20308.62,19511.11,19071.76,20213.28,20588.91,19083.19,...,3290.11,11723.54,13522.90,14893.28,11497.89,0.00,12631.46,1094.37,4919.10,12631.46
224,10012.42,9915.24,13057.44,14634.38,12718.08,20016.37,18818.51,9494.37,11861.80,17280.23,...,9344.11,910.65,891.79,2261.85,1136.11,12631.46,0.00,13725.79,17550.36,0.00
225,22614.08,21118.47,20827.51,20075.57,21186.77,19835.97,19470.62,21237.34,21522.07,19606.70,...,4384.20,12817.80,14617.24,15987.60,12592.15,1094.37,13725.79,0.00,3825.01,13725.79
226,26339.90,24716.98,23992.78,22897.82,24440.57,21457.04,21329.55,24890.70,24927.73,21843.90,...,8207.13,16642.60,18441.71,19812.20,16416.96,4919.10,17550.36,3825.01,0.00,17550.36
227,10012.42,9915.24,13057.44,14634.38,12718.08,20016.37,18818.51,9494.37,11861.80,17280.23,...,9344.11,910.65,891.79,2261.85,1136.11,12631.46,0.00,13725.79,17550.36,0.00

In [18]:
speeds_array

,0,1,2,3,4,5,6,7,8,9,...,218,219,220,221,222,223,224,225,226,227
0,71.1,66.0,64.6,65.6,67.1,71.9,68.6,67.7,65.8,40.9,...,69.1,70.9,65.0,64.5,66.6,66.6,65.0,69.3,67.7,68.9
1,68.1,66.8,61.7,66.7,64.5,71.6,72.3,64.9,65.6,40.1,...,70.6,65.4,65.0,64.9,65.1,67.7,65.0,67.7,68.8,68.8
2,68.0,64.3,66.6,68.7,68.1,70.5,70.2,61.7,63.4,39.6,...,72.2,70.5,65.0,64.7,66.7,68.9,65.0,70.2,69.1,68.7
3,68.3,67.8,65.9,66.6,67.9,70.3,69.8,67.6,63.2,37.6,...,71.2,69.7,65.0,65.2,67.2,66.9,65.0,70.4,67.3,69.0
4,68.9,69.5,61.2,67.4,64.0,68.1,67.0,66.7,64.2,36.8,...,71.3,65.8,65.0,66.3,66.7,66.2,65.0,68.0,67.4,68.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12667,70.3,65.9,70.2,62.1,66.8,66.0,64.0,64.8,24.6,66.5,...,66.0,55.6,29.9,63.8,64.5,62.8,3.8,70.2,68.1,19.3
12668,69.9,54.0,68.2,62.2,67.4,65.8,64.4,61.3,35.1,69.2,...,66.8,62.8,29.9,62.9,66.6,63.0,3.5,68.2,68.3,18.9
12669,68.9,37.9,68.8,66.3,69.4,66.6,65.0,60.1,38.5,68.7,...,66.4,65.4,29.9,66.3,68.1,62.6,3.5,68.7,67.5,19.7
12670,69.2,37.8,68.7,63.6,68.5,66.2,64.1,60.9,40.5,68.5,...,67.6,68.9,30.2,64.8,68.2,63.1,3.7,67.7,67.4,19.5
12671,68.6,52.9,68.6,65.5,69.3,66.1,64.1,63.5,43.6,58.6,...,66.6,68.3,30.5,64.7,69.1,61.8,4.0,68.1,68.5,19.1

In [22]:
class Dataset(object):
    def __init__(self, data, stats):
        self.__data = data
        self.mean = stats['mean']
        self.std = stats['std']

    def get_data(self, type):
        return self.__data[type]

    def get_stats(self):
        return {'mean': self.mean, 'std': self.std}

    def get_len(self, type):
        return len(self.__data[type])

    def z_inverse(self, type):
        return self.__data[type] * self.std + self.mean
    
def seq_gen(len_seq, data_seq, offset, n_frame, n_route, day_slot, C_0=1):
    '''
    Generate data in the form of standard sequence unit.
    :param len_seq: int, the length of target date sequence.
    :param data_seq: np.ndarray, source data / time-series.
    :param offset:  int, the starting index of different dataset type.
    :param n_frame: int, the number of frame within a standard sequence unit,
                         which contains n_his = 12 and n_pred = 9 (3 /15 min, 6 /30 min & 9 /45 min).
    :param n_route: int, the number of routes in the graph.
    :param day_slot: int, the number of time slots per day, controlled by the time window (5 min as default).
    :param C_0: int, the size of input channel.
    :return: np.ndarray, [len_seq, n_frame, n_route, C_0].
    '''
    n_slot = day_slot - n_frame + 1

    tmp_seq = np.zeros((len_seq * n_slot, n_frame, n_route, C_0))
    for i in range(len_seq):
        for j in range(n_slot):
            sta = (i + offset) * day_slot + j
            end = sta + n_frame
            tmp_seq[i * n_slot + j, :, :, :] = np.reshape(data_seq[sta:end, :], [n_frame, n_route, C_0])
    return tmp_seq

def data_gen(file_path, data_config, n_route, n_frame=21, day_slot=288):
    '''
    Source file load and dataset generation.
    :param file_path: str, the file path of data source.
    :param data_config: tuple, the configs of dataset in train, validation, test.
    :param n_route: int, the number of routes in the graph.
    :param n_frame: int, the number of frame within a standard sequence unit,
                         which contains n_his = 12 and n_pred = 9 (3 /15 min, 6 /30 min & 9 /45 min).
    :param day_slot: int, the number of time slots per day, controlled by the time window (5 min as default).
    :return: dict, dataset that contains training, validation and test with stats.
    '''
    n_train, n_val, n_test = data_config
    
    # generate training, validation and test data
    try:
        data_seq = pd.read_csv(file_path, header=None).values
    except FileNotFoundError:
        print(f'ERROR: input file was not found in {file_path}.')

    seq_train = seq_gen(n_train, data_seq, 0, n_frame, n_route, day_slot)
    seq_val = seq_gen(n_val, data_seq, n_train, n_frame, n_route, day_slot)
    seq_test = seq_gen(n_test, data_seq, n_train + n_val, n_frame, n_route, day_slot)

    # x_stats: dict, the stats for the train dataset, including the value of mean and standard deviation.
    x_stats = {'mean': np.mean(seq_train), 'std': np.std(seq_train)}

    # x_train, x_val, x_test: np.array, [sample_size, n_frame, n_route, channel_size].
    x_train = z_score(seq_train, x_stats['mean'], x_stats['std'])
    x_val = z_score(seq_val, x_stats['mean'], x_stats['std'])
    x_test = z_score(seq_test, x_stats['mean'], x_stats['std'])

    x_data = {'train': x_train, 'val': x_val, 'test': x_test}
    dataset = Dataset(x_data, x_stats)
    return dataset

def z_score(x, mean, std):
    '''
    Z-score normalization function: $z = (X - \mu) / \sigma $,
    where z is the z-score, X is the value of the element,
    $\mu$ is the population mean, and $\sigma$ is the standard deviation.
    :param x: np.ndarray, input array to be normalized.
    :param mean: float, the value of mean.
    :param std: float, the value of standard deviation.
    :return: np.ndarray, z-score normalized array.
    '''
    return (x - mean) / std

In [23]:
n_train, n_val, n_test = 34, 5, 5
n, n_his, n_pred = 228, 12, 9
PeMS = data_gen("PeMSD7_Full/PeMSD7_V_228.csv", (n_train, n_val, n_test), n, n_his + n_pred)
print(f'>> Loading dataset with Mean: {PeMS.mean:.2f}, STD: {PeMS.std:.2f}')

>> Loading dataset with Mean: 58.50, STD: 13.73

In [1]:
import torch

print(torch.__version__)

C:\Users\kedar\anaconda3\envs\torch\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

1.13.1

In [2]:
torch.cuda.is_available()

True

In [3]:
from torch_geometric.datasets import KarateClub

dataset = KarateClub()
print(f'Dataset: {dataset}:')
print('======================')
print(f'Number of graphs: {len(dataset)}')
print(f'Number of features: {dataset.num_features}')
print(f'Number of classes: {dataset.num_classes}')

Dataset: KarateClub():
======================
Number of graphs: 1
Number of features: 34
Number of classes: 4

In [6]:
from torch_geometric_temporal.dataset import METRLADatasetLoader

loader = METRLADatasetLoader()

dataset = loader.get_dataset()

In [7]:
dataset